<form method="POST" action="/auth/signin">
    <input name="email" type="email" placeholder="email">
    <input name="password" type="password" placeholder="password">
    <button type="submit">Sing In</button>
</form>