<div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 26rem;">
        <div class="card-body">
            <h4 class="card-title text-center ">Welcome to our Society!</h4>
            <p class="card-text text-muted">
                If you already have a Society account, just
                <a href="/auth/login">log in</a>.
                If you don't, please, click the
                <a href="/auth/signup">sign up</a> button.
            </p>
        </div>
    </div>
</div>