<h1 class="text-center">Chat</h1>

<hr>

<section class="d-flex flex-column align-items-center">
    <div class="chatWr w-400">
        <div data-messages class="chat blur mb-3">
            {{#each allMessages}}
            <div class="messageWr">
                <img src="{{this.avatar}}" alt="avatar" class="avatar">
                <div class="dataWr">
                    <div class="messageInfo">
                        <span class="messageAuthorName">{{this.name}}</span>
                        <span class="messageDate">{{this.date}}</span>
                    </div>
                    <p class="messageText">
                        {{this.text}}
                    </p>
                </div>
            </div>
            {{/each}}
        </div>
        <div data-signupwr class="d-flex flex-column align-items-center signup">
            <input data-name name="name" type="text" class="form-control mb-2" placeholder="Enter your name...">
            <input data-avatar name="avatar" type="text" class="form-control mb-2" placeholder="Link to avatar...">
            <button data-signup type="submit" class="btn btn-primary signup_btn">Sign up</button>
        </div>
        <form data-textwr name="sendMessage" class="d-flex" action="">
            <input data-text name="message" type="text" class="form-control me-2" placeholder="Enter your message...">
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</section>