.like-thumb {
    color:sandybrown;
    cursor: pointer;
}

.trash-icon {
    color: red;
    cursor: pointer;
}
.username-title {
    color:royalblue
}

.login-ref {
    color: green
}

.signup-ref {
    color: royalblue;
}